/WOW
/typeit
/materialize
/cssmenu
/anime
/animate.css
/colorlib-regform-18
/float-panel
/freebie-footer-templates
/intl-tel-input-master
/moveTo-master
/multiselect-master
/converting-colors-tailwindcss-palette-color-1.json
/materialize-grid.html
/style.default.css
/vendor/WOW
/vendor/animate.css